{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% block title %}
    <title>{{ title }}</title>
    {% endblock title %}

    <meta name="author" content="RAMIRO KAFFO" />
    <meta name="copyright" content="RAMIRO KAFFO" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:url" content='{{ request.build_absolute_uri }}' />

    {% block meta %}
    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="Page de connexion du site de coaching et développement personnel: Vie de réussite" />
    <meta property="og:image" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:secure_url" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:alt" content="Le logo du site" />
    {% endblock meta %}
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'success' })
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'danger' })
    </script>
    {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'warning' })
    </script>
    {% else %}
    <script>
        UIkit.notification({ message: '{{ message }}', status: 'primary' })
    </script>
    {% endif %}
    {% endfor %}
    {% endif %}

    <div class="auth-container">
        <!-- <div class="auth-logo">
            <img src="{% static 'images/logo_site_vie_reussie.jpeg' %}" alt="Logo" class="logo-image">
        </div> -->

        <main class="auth-main">
            {% block content %}
            {% endblock content %}
        </main>

        <footer class="auth-footer">
            <p>&copy; {% now "Y" %} MEDIA. Tous droits réservés.</p>
        </footer>
    </div>
</body>

</html>