
{% extends "auth/base.html" %}
{% load static %}

    {% block meta %}

    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="Page de connexion du site de coaching et développement personnel: Vie de réussite" />
    <meta property="og:image" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:secure_url" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:alt" content="Le logo du site" />

    {% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'auth/login.css' %}">

<div class="form-div">
{% if next %}
<form class="form" action="{% url 'auth:login' %}?next={{ next }}&ma={{ mac_address }}" method="post">

{% else %}
<form class="form" action="{% url 'auth:login' %}?ma={{ mac_address }}" method="post">

{% endif %}

        {% csrf_token %}
        <div class="header">Connexion</div>
        <div class="inputs">
            <input placeholder="Login" class="input" type="text" name="login" required>
            <input placeholder="Password" class="input" type="password" name="password" required>
        <div class="checkbox-container">
            <label class="checkbox">
            <input type="checkbox" id="checkbox" checked >
            </label>
            <label for="checkbox" class="checkbox-text">Se souvenir de moi</label>
        </div>
        <button class="sigin-btn" type="submit">Me connecter</button>
        <div class="forget-return-div">
        <!-- <a class="return" href="/">Retour à l'accueil</a> -->
        {% if next %}
        <a class="forget" href="{% url 'auth:reset' %}?next={{ next }}&ma={{ mac_address }}">Mot de passe oublié ?</a>
        {% else %}
        <a class="forget" href="{% url 'auth:reset' %}?ma={{ mac_address }}">Mot de passe oublié ?</a>
        {% endif %}
        </div>

        <div class="signin" style="margin-top: 15px;">
            Vous êtes une entreprise ? <a href="{% url 'auth:company_register' %}?next={{ next }}">Créer un compte entreprise</a>
        </div>

        </div>
    </form>
</div>

{% endblock %}