
{% extends "auth/base.html" %}
{% load static %}

    {% block meta %}

    <meta property="og:title" content="{{ title }}" />
    <meta name="description" content="Page de connexion du site de coaching et développement personnel: Vie de réussite" />
    <meta property="og:image" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:secure_url" content="{% static 'images/logo_site_vie_reussie.jpeg' %}" />
    <meta property="og:image:alt" content="Le logo du site" />

    {% endblock meta %}

{% block content %}
<link rel="stylesheet" href="{% static 'auth/login.css' %}">

<div class="form-div">
    <form class="form" action="{% url 'auth:activate' %}?next={{ next }}&ma={{ ma }}&uid={{ uid }}" method="post">
        {% csrf_token %}
        <div class="header">Validation</div>
        <div class="inputs">
        <h6 style="margin: 0px; padding: 0px;">Entrez le code que vous avez reçu par SMS ici</h6>
        <input placeholder="OTP" class="input" type="number" name="token" required>
            <a class="forget" href="{% url 'auth:resent' %}?next={{ next }}&ma={{ ma }}&uid={{ uid }}">Renvoyer le code de validation ?</a>
            <button class="sigin-btn" type="submit">Envoyer</button>
        <div class="forget-return-div">
        </div>
        </div>
    </form>
</div>

{% endblock %}