
.head-hr {
    /* margin-top: 50px; */
    height: 0px;
    border-color: white;
}

.home_card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.one-card {
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

  .card-image {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .one-card h3 {
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
    font-size: 20px;
  }
  .one-card p {
    margin: 0px;

  }
    
  .one-card hr {
    margin: 0px;
  }

  

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;

    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-align: center;
  }
  
  .button2:hover {
    color: var(--second-color2);
    border: 1px solid var(--second-color3);
    text-decoration: none;
  }
  


  @media screen and (max-width: 901px) {
    .drop-zone {
        display: none;
    }

    .home_card_list {
      justify-content: center;
    }
    
}


