


h3 {
    color: var(--second-color2);
}

.confirm_unsubscription {
    background-color: var(--second-color2);
    color: white;
    padding: 10px;
    transition: width 2s ease 0s;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}
.confirm_unsubscription:hover {
    color: white;
    background-color: var(--second-color1);
    text-decoration: none;
}