{% load static %}

<link rel="stylesheet" href="{% static 'account/component/header.css' %}">

<header>
    <a href="{% url 'account:home' %}" class="left-header-div">
        <svg id="account-icon" uk-toggle="target: #offcanvas-flip" height="50" width="50" xmlns="http://www.w3.org/2000/svg"
            fill="var(--second-color2)" viewBox="0 0 24 24">
            <path fill-rule="evenodd"
                d="M12 20a8 8 0 0 1-5-1.8v-.6c0-1.8 1.5-3.3 3.3-3.3h3.4c1.8 0 3.3 1.5 3.3 3.3v.6a8 8 0 0 1-5 1.8ZM2 12a10 10 0 1 1 10 10A10 10 0 0 1 2 12Zm10-5a3.3 3.3 0 0 0-3.3 3.3c0 1.7 1.5 3.2 3.3 3.2 1.8 0 3.3-1.5 3.3-3.3C15.3 8.6 13.8 7 12 7Z"
                clip-rule="evenodd" />
        </svg>
        {% if request.user.first_name or request.user.last_name %}
        <p>{{ request.user.last_name }} {{ request.user.first_name }}</p>
        {% else %}
        <p>{{ request.user.username }}</p>
        {% endif %}
    </a>

    <a href="{% url 'auth:logout' %}" class="right-header-div">
        <button class="Btn">
            <div class="sign"><svg viewBox="0 0 512 512">
                    <path
                        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z">
                    </path>
                </svg>
            </div>
            <div class="text">Déconnexion</div>
        </button>
    </a>
</header>