{% extends "account/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'account/share.css' %}">

<a href="{% url 'album:albums' %}" class="back-button">
    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
        <path
            d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z">
        </path>
    </svg>
    <span>Retour</span>
</a>
<h2 class="album_name">
    <svg style="height: 35px; width: 35px" class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 19V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v13H7a2 2 0 0 0-2 2Zm0 0a2 2 0 0 0 2 2h12M9 3v14m7 0v4" />
    </svg>
    {{ album.name }}
</h2>

<hr class="head-hr">

<form id="uploadForm" action="{% url 'album:share_album' album.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3>Vos contacts</h3>
<br>
    <a class="select_my_contact" href="#modal-overflow" uk-toggle>Sélectionner des contacts</a>

    <div id="modal-overflow" uk-modal>
        <div class="uk-modal-dialog">
    
            <button class="uk-modal-close-default" type="button" uk-close></button>
    
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Mes contacts</h2>
            </div>
    
            <div class="uk-modal-body" uk-overflow-auto>
                <div class="uk-overflow-auto">
                    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                        <thead>
                            <tr>
                                <th class="uk-table-shrink"></th>
                                <th class="uk-table-shrink">Avatar</th>
                                <th class="uk-table-expand">Numéro</th>
                                <th class="uk-width-small">Nom</th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for contact in contacts %}
            
                            <tr>
                                <td>
                                    <div class="checkbox-container">
                                        <div class="checkbox-wrapper">
                                            <input type="checkbox" name="my_contacts" class="checkbox" value="{{ contact.username }}" id="checkbox-{{ contact.id }}">
                                            <label class="checkbox-label" for="checkbox-{{ contact.id }}">
                                                <div class="checkbox-flip">
                                                    <div class="checkbox-front">
                                                        <svg fill="white" height="15" width="15" viewBox="0 0 24 24"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M19 13H12V19H11V13H5V12H11V6H12V12H19V13Z" class="icon-path"></path>
                                                        </svg>
                                                    </div>
                                                    <div class="checkbox-back">
                                                        <svg fill="white" height="15" width="15" viewBox="0 0 24 24"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M9 19l-7-7 1.41-1.41L9 16.17l11.29-11.3L22 6l-13 13z" class="icon-path"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                <td><svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                                  </svg>
                                  </td>
                                <td class="uk-table-link">
                                    <a class="uk-link-reset" href="">{{ contact.username }}</a>
                                </td>
                                <td class="uk-text-truncate">{{ contact.get_full_name }}</td>
                            </tr>
            
                        {% empty %}
                        <p>Aucun contact disponible</p>
                    {% endfor %}
            
                        </tbody>
                    </table>
                </div>
                <p>Cochez les contacts avec qui vous souhaitez partager cet album</p>
            
            </div>
    
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Fermer</button>
                <button class="uk-button uk-button-primary uk-modal-close" type="button">Ok</button>
            </div>
    
        </div>
    </div>

<!-- 
    <div class="contacts-container"> {# Conteneur pour les contacts #}
        {% for contact in contacts %}
        <div class="checkbox-container">
            <div class="checkbox-wrapper">
                <input type="checkbox" name="my_contacts" class="checkbox" value="{{ contact.username }}" id="checkbox-{{ contact.id }}">
                <label class="checkbox-label" for="checkbox-{{ contact.id }}">
                    <div class="checkbox-flip">
                        <div class="checkbox-front">
                            <svg fill="white" height="15" width="15" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 13H12V19H11V13H5V12H11V6H12V12H19V13Z" class="icon-path"></path>
                            </svg>
                        </div>
                        <div class="checkbox-back">
                            <svg fill="white" height="15" width="15" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 19l-7-7 1.41-1.41L9 16.17l11.29-11.3L22 6l-13 13z" class="icon-path"></path>
                            </svg>
                        </div>
                    </div>
                </label>
                {{ contact.username }} ~ {{ contact.get_full_name }}
            </div>
        </div>
        {% endfor %}
    </div> -->
<hr class="head-hr">
<h3>Rechercher des contacts</h3>

    <div id="contactList"></div>
    <input type="text" id="phoneNumbersInput" name="contacts" hidden>

    <div class="input-container">
        <input type="tel" id="phoneNumberInput" placeholder="Saisir un numéro de téléphone">
        <button class="invite-btn" id="addPhoneNumberBtn" type="button">
            <!-- <svg
                class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg> -->
            Ajouter
        </button>
    </div>
    <div id="loadingIndicator" style="display: none;">Vérification...</div>
    <hr class="head-hr">
    <button type="submit" class="upload_images_button" id="submitBtn">Envoyer</button>
</form>



<script src="{% static 'account/js/share.js' %}"></script>

{% endblock content %}